<h1>Cart</h1>

<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>


<% if @products.empty? %>

  <p>Your cart is empty.</p>
  <%= link_to "Back to Menu", purchase_path %>

<% else %>

<%= form_with url: cart_update_path, method: :patch do %>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% total = 0 %>

      <% @products.each do |product| %>
        <% quantity = session[:cart][product.id.to_s].to_i %>
        <% subtotal = product.price * quantity %>
        <% total += subtotal %>

        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td>
            <%= number_field_tag "cart[#{product.id}]", quantity, min: 1 %>
          </td>

          <td><%= subtotal %></td>
          <td>
           <%= link_to "Remove",
                cart_remove_path(product_id: product.id),
                data: { turbo_method: :delete } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <p><strong>Total: <%= total %></strong></p>

  <%= submit_tag "Update Cart" %>

<% end %>

<%= button_to "Confirm Purchase", sales_path, method: :post %>
<%= button_to "Clear Cart", cart_clear_path, method: :post %>


<% end %>