<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
<% end %>

<h1>Sale #<%= @sale.id %></h1>

<table>
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>

  <% total = 0 %>

  <% @sale.sale_items.each do |item| %>
    <% subtotal = item.price * item.quantity %>
    <% total += subtotal %>

    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price %></td>
      <td><%= subtotal %></td>
    </tr>
  <% end %>
</table>

<h3>Total: <%= total %></h3>

<%= link_to "Order More?", purchase_path  %>