<%= form_with model: @product do |form|  %>

  <div>
    <%= form.label :name  %>
    <%= form.text_field :name %>
    <%= form.label :inventory_count  %>
    <%= form.text_field :inventory_count %>
    <%= form.label :price  %>
    <%= form.text_field :price %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>

<% end %>