<div>
    <%= form_with scope: :sale, url: sales_path, method: :post do |form| %>

    <%=form.hidden_field :product_id, value: @product.id  %>
       <div>
            <label>Product</label>
            <input type="text" value="<%= @product.name %>" disabled></input>
        </div>
        <div>
            <label>Price</label>
            <input type="text" value="<%= @product.price %>" disabled></input>
        </div>
        <div>
            <%= form.label :quantity  %>
            <%= form.text_field :quantity, value: 1, min: 1%>
        </div>
        <%= form.submit "Confirm Purchase" %>
    <% end %>

</div>
